@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #eaf2f5, #cfe3e8);
  display: flex;
  justify-content: center;
}

.container {
    background: #fff; 
    max-width: 100%;
    height:100vh;
    border-radius: 20px;
    padding:15px 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

header{
  display: flex;
  justify-content: space-between;
  padding: 12px; 
}

.logo h1{
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding-left: 20px;
  font-weight: 200;
}

.lang{
  display: flex;
  gap: 15px;
  padding-right:20px;
}

.lang p{
  font-size: 13px;
  color: #000000b3;
  font-weight: 50;
  padding-top: 7px;
}

.lang button{
  background-color:rgba(0, 0, 0, 0.798);
  border-radius:20px;
  border: none;
  padding: 5px 10px;
  color: #ffffffff;
}

.hero{
  padding-top: 40px;
}

.bigPrg{
  justify-items: center; 
}

.bigPrg h1{
  font-family: "Poppins", sans-serif;
  font-weight: 50;
  font-size: 29px;
  padding-left:170px;
}
.bigPrg h2{
  font-family: "Poppins", sans-serif;
  font-weight: 50;
  font-size: 29px;
}

.bigPrg h3{
  font-family: "Poppins", sans-serif;
  font-weight:50;
  font-size: 29px;
  margin-left: 80px;

}

.bigPrg h3 span{
  color: rgb(128, 128, 128);
  display: inline-block;

}

.bigPrg h3 .badge{
  font-size: 10px;
  border-radius: 20px;
  padding: 10px 12px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 100px;
  background: hsl(0, 0%, 95%);

}

.heroImage{
  padding:50px 20px;
  display: flex;
  gap: 20px;
}

 .img1 img{
  height: 170px;
  width: 150px;
  border-radius: 15px;
  object-fit: cover;
  transform: translateY(15px);

}

.img1 .imgPrg{
  display: flex;
  gap: 25px;
  padding-top: 15px;

}
.imgPrg h1{
  font-size: 20px;
  font-weight: 50;

}

.imgPrg i{
   font-size: 12px;
   padding-top: 7px;

}

.img1 h5{
  padding-top: 5px;
  font-size: 12px;
  color:#000000b3;

}

.smallImgs{
 padding-top: 10px;
}

.smallImgs img{
  border: none;
  border-radius:50%;
  object-fit: cover;
  width: 22px;
  height: 22px;
  position:inherit;
  /* margin-left: -4px; */
}

.smallImgs img:nth-child(1) {
  transform: translateX(0);
}

.smallImgs img:nth-child(2) {
  transform: translateX(-10px);

}

.smallImgs img:nth-child(3) {
   transform: translateX(-18px);

}


.view-all {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}


.img2 img{
  height: 170px;
  width: 150px;
  border-radius: 15px;
  object-fit: cover;
  transform: translateY(15px);

}

.img2 .imgPrg2{
  display: flex;
  gap: 20px;
  padding-top: 15px;
}

.imgPrg2 h1{
  font-weight: 50;
  font-size: 20px;
}

.imgPrg2 i{
   font-size: 12px;
   padding-top: 7px;

}

.img2 h5{
  padding-top: 5px;
  font-size: 12px;
  color:#000000b3;

}
.bigImage {
  position: relative;
  flex: 1;
}

.bigImage img {
  width: 100%;
  height: 370px;
  border-radius: 20px;
  object-fit: cover;
  transform: translateY(4px);


}

.tour-btn {
  position: absolute;
  bottom:30px;
  right: 20px;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
} 

