*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e9edf1;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.container{
    background: #fff;
    width: 90%;
    max-width: 1100px;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
header{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 20px;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    gap:20px;
    list-style: none;
}

.navbar ul li span{
    padding:8px;
    border-radius:15px;
    background-color:#e9edf1;
}

.navbar ul li i{
    font-size: 10px;
}

.lang{
    display: flex;
    gap:20px;
}
.lang h5{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.537);
}
.lang h4 span{
    font-weight: 50px;
    font-size: 13px;
    color: #ffffffb1;
    background-color: rgba(0, 0, 0, 0.826);
    border-radius: 25px;
    padding:8px;
}